@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
:root{
    --white: #f7f7f7;
    --lightPurple: #AA8FA4;
    --purple: #823772;
    --fourPurple: #A84793;
    --threePurple: #CE57B4;
    --twoPurple: #F467D5;
    --onePurple: #FF6BD4;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: var(--white);
    font-family: "Poppins", sans-serif;
    margin: 0;
    overflow-x: hidden;
}
button:hover{
    cursor: pointer;
}
/* Header */
header{
    padding-right: 2rem;
    padding-left: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
button{
    border: none;
    border-radius: 5px;
}
.leftHeader{
    display: flex;
    gap: 2rem;
}
.logo{
    width: 130px;
    height: 52px;
    pointer-events: none;
}
input{
    height: 32px;
    width: 20rem;
    border-radius: 5px;
    border: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.headerBtns{
    height: 2rem;
    width: 4rem;
    border: none;
    border-radius: 5px;
}
.signUp{
    background-color: var(--purple);
    color: var(--white);
}
.searchBox{
    display: flex;
    align-items: center;
}
.searchBtn{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    height: 34px;
    width: 3em;
    background-color: var(--purple);
    color: var(--white);
}

/*Header Info*/
.userInfo{
    height: 70%;
    background-image: url('images/aliImage.jpeg');
    background-position: 25% 65%;
    background-size: 2000px;
    color: var(--white);
}
.nameHeader, .ratingHeader, .generalInfoHeader, .hoursHeader{
    margin: 0;
    margin-left: 100px;
}
.headerInfo{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}
.numReviews{
    font-size: 13px;
}
.hoursHeader{
    margin-bottom: 50px;
}
.available{
    color: rgba(4,197,133,1);
}
/* Main Info */
.mainInfo{
    display: flex;
    height: 100%;
}
.realInfo{
    margin-top: 2rem;
    margin-left: 10rem;
    margin-right: 3rem;
    height: 100%;
    width: 60%;
}
/* Main Info Buttons */
.infoButtons{
    width: 6rem;
    height: 3rem;
}
.reviewBtn, .photoBtn{
    width: 9rem;
}
.reviewBtn{
    background-color: var(--purple);
    color: var(--white);
    font-weight: 700;
}
hr{
    margin: 16px auto;
    color: var(--lightPurple);
}
/* Friends */
.friendInfo{
    margin-top: 2rem;
}
.friends{
    color: black;
    margin: 0;
    margin-bottom: 1rem;
}
.friendImg{
    width: 75px;
    height: 75px;
}
.friendAbout{
    color: black;
}
.friendName{
    font-weight: 1000;
}
/* Reviews */
.ratingGraph{
    margin-top: 4rem;
}
.overallRating{
    display: flex;
    align-items: center;
}
.reviews{
    color: black;
    font-weight: 1000;
}
.ratingInfo, .ratingLevel{
    font-weight: 400;
    margin: 0;
    color: black;
}
.ratingOverall{
    font-weight: 600;
}
.meter{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .75rem;
    text-align: center;
}
.ratingLevel{
    width: 3rem;
}
.fiveMeter, .fourMeter, .threeMeter, .twoMeter, .oneMeter{
    height: .5rem;
    border-radius: 10px;
}
.fiveMeter{
    width: 450px;
    background-color: var(--purple);
}
.fourMeter{
    width: 350px;
    background-color: var(--fourPurple);
}
.threeMeter{
    width: 250px;
    background-color: var(--threePurple);
}
.twoMeter{
    width: 150px;
    background-color: var(--twoPurple);
}
.oneMeter{
    width: 50px;
    background-color: var(--onePurple);
}
